# Springboot 配置
spring:
  profiles:
    # 指定加载开发环境的配置(application-dev.yml)
    active: dev
  # 数据源配置
  datasource:
    url: jdbc:mysql://${yuc.cloud-server.host}:3306/jip4fg?autoReconnect=true
    username: ${yuc.cloud-server.username}
    password: ${yuc.cloud-server.password}
    driver-class-name: com.mysql.jdbc.Driver
  # redis 配置
  redis:
    # cloud
    host: ${yuc.cloud-server.host}
    port: 6379
    password: ${yuc.cloud-server.password}
    # local
  #    host: localhost
  #    port: 6379
  # rabiitMQ 配置
  rabbitmq:
    # cloud
    host: ${yuc.cloud-server.host}
    port: 5672
    username: ${yuc.cloud-server.username}
    password: ${yuc.cloud-server.password}
    listener:
      simple:
        retry:
          enabled: true # 开启消费者重试
          max-attempts: 3 # 最大重试次数
        acknowledge-mode: auto # 设置消息确认模式为auto
    # local
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

  # 邮箱配置
  mail:
    host: smtp.exmail.qq.com
    username: username
    password: pwd
    from: ${spring.application.name}<${spring.mail.username}>
    properties:
      mail:
        smtp:
          auth: true
          timeout: 25000
  application:
    name: JIP4FG

server:
  port: 8089

# mybatis-plus 配置
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl #开启sql日志

# 云服务配置
yuc:
  cloud-server:
    host: localhost
    username: username
    password: pwd

# 本项目配置

yuc-common:
  secret:
    key: yucyucyuc+-*/123 # 密key
    algorithm-str: AES/ECB/PKCS5Padding # 参数分别代表 算法名称/加密模式/数据填充方式

global-config:
  domain: http://localhost:${server.port}
